sudo bash -c 'cat << \EOF > /etc/systemd/system/recipeapi.service
[Unit]
Description=Start Recipe App
After=network-online.target docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker compose -f /home/ubuntu/recipe_api/docker-compose-deploy.yml up -d
Restart=on-failure

[Install]
WantedBy=multi-user.target
EOF'

sudo systemctl daemon-reload
sudo systemctl enable recipeapi.service
sudo systemctl start recipeapi.service
